@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
}

#chart1 {
  max-width: 760px;

 
}
.apexcharts-toolbar{
    display: none!important;
}
#chart1 #SvgjsSvg1238 text #SvgjsText2198{
    display: none!important;
    fill: none!important;
    opacity: 0;
}
#chart1 #SvgjsText1438, #SvgjsText1441, #SvgjsText1444, #SvgjsTspan1448, #SvgjsTspan1451 {
  color: white!important;
  fill:white;
 }

 #chart1 .apexcharts-text{
  color: white!important;
  fill: white!important;
 } 
 #chart1 .apexcharts-xaxis-texts-g{
  display: none!important;
 }
 #chart1 .apexcharts-title-text{
  display: none!important;
 }
 .apexcharts-legend-text{
  color: white!important;
  fill: white!important;
 }

 #chart1 g:first-child path{
   fill: rgba(255, 255, 255, 0.25)!important;
 }
 #chart1 g:nth-child(2) path{
   fill:rgba(60, 210, 165, 0.65)!important;
 }
 .apexcharts-tooltip {
  border: none!important;
 }
 .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title{
    background-color:#35434a!important;
    color:white!important;
    border: none;
 }
 #chart1 .apexcharts-tooltip-series-group {
  background-color:rgba(29, 40, 53, 0.95) ;
 }
 #chart1 .apexcharts-tooltip-marker{
  background-color: #35434a!important;
 }
 #chart1 .apexcharts-tooltip-text{
  color: white;
 }
 #chart1  .apexcharts-legend-marker{
  background-color: rgba(124, 102, 102, 0.25)!important;
  background: none;
 }